@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic,400italic);
.top-strip {
	background-color: #f7f7f7;
	border-bottom: 1px solid #eaeaea;
	padding: 7px 0;
}
.top-strip::after, .top-strip::before {
	clear: both;
	content: "";
	display: table;
}
ul::after, ul::before {
	clear: both;
	content: "";
	display: table;
}
.tab-content ul li::after, .tab-content ul li::before {
	clear: both;
	content: "";
	display: table;
}
.rows::after, .rows::before {
	clear: both;
	content: "";
	display: table;
}
.stip-content {
	float: right;
}
.stip-content::after, .stip-content::before {
	clear: both;
	content: "";
	display: table;
}
.languge {
	float: left;
}
.languge select {
	background-color: #f4f4f4;
	border: 1px solid #c3c3c3;
	border-radius: 3px;
	cursor: pointer;
	font-size: 11px;
	font-weight: 600;
	padding: 2px;
	text-transform: uppercase;
	background-image: url(../images/sl-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-o-appearance: none;
	min-width: 86px;
}
.login-section {
	float: left;
	margin-right: 15px;
}
.login-section > a {
	color: #444444;
	font-size: 13px;
}
.login-section a i {
	border: 1px solid #868686;
	border-radius: 50%;
	color: #868686;
	font-size: 13px;
	height: 19px;
	line-height: 17px;
	margin-right: 3px;
	margin-top: 0;
	text-align: center;
	width: 19px;
}
.login-section > a {
	color: #444444;
	font-size: 12px;
	text-transform: uppercase;
}
.doctor-login {
	color: #777;
	float: left;
	font-size: 12px;
	line-height: 23px;
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
}
.doctor-login span {
	color: #444;
	font-weight: 700;
}
.doctor-login a {
	color: #777;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: underline;
}
.menu-section {
	padding: 6px 15px;
}
.intro-section {
	border-top: 2px solid #edf2ec;
	position: relative;
}

.hm-slide{object-fit: cover;width:100%;min-height: 350px;}

.home-search-fields {
	position: absolute;
	top: 25%;
	left: 0px;
	z-index: 1;
	right: 0px;
}
.find-section h2, .find-section h3 {
	text-align: center;
}
.find-section h2 {
	font-size: 31px;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.find-section h3 {
	font-size: 25px;
	font-weight: 200;
	margin: 0px;
}
.home-search-area {
	background-color: #ffffff;
	border: 1px solid #b1aca9;
	border-radius: 7px;
	margin: 20px auto 0;
	width: 747px;
}
.home-search-area::before, .home-search-area::after {
	clear: both;
	display: table;
	content: " ";
}
.home-search-area .dv-l {
	float: left;
	min-height: 20px;
	position: relative;
	width: 41%;
}
.home-search-area .dv-l i {
	color: #bc3794;
	font-size: 23px;
	left: 9px;
	position: absolute;
	top: 11px;
	z-index: 1;
}
 .home-search-area .dv-l:first-child input {
    text-indent: 35px;
    padding: 14px 0;
    border: none;
    box-shadow: none;
    border-radius: 7px 0 0 7px;
    margin: 0;
}

.home-search-area input {
  border: 1px solid #cccccc;
  border-radius: 1px;
  box-shadow: 0 0 6px -1px #cccccc;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 8px 0;
  text-indent: 8px;
  width: 100%;
}
.home-search-area .bt-cvr {
	float: left;
	width: 18%;
}
.bt-cvr button {
	background-color: #bc3794;
	border: medium none;
	border-radius: 0 6px 6px 0;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	padding: 11px 0 12px;
	transition: all 0.2s ease 0s;
	width: 100%;
}
.wrapper-dropdown-3 {
	/* Size and position */
	position: relative;
	border: medium none;
	border-radius: 7px 0 0 7px;
	box-shadow: -1px 0 0 0 #cccccc inset;
	font-size: 16px;
	padding: 12px 0;
	width: 100%;
	text-indent: 10px;
	cursor: pointer;
	background-image: url(../images/sl-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
}
.wrapper-dropdown-3:after {
	width: 0;
	height: 0;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: #000 transparent;
}
.wrapper-dropdown-3 .dropdown {
	/* Size & position */
	position: absolute;
	z-index: 99999999;
	top: 100%;
	left: 0;
	right: 0;
	height: 0;
	overflow: auto;
	padding: 0;
	margin: 0;
	/* Styles */
	background: white;
	border: 1px solid rgba(0,0,0,0.17);
	font-weight: normal;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	list-style: none;
	/* Hiding */
	opacity: 0;
	pointer-events: none;
}
.wrapper-dropdown-3 .dropdown li a {
	box-shadow: 0 1px 0 #ffffff inset;
	color: #4d5d6d;
	display: block;
	font-size: 14px;
	padding: 8px 10px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wrapper-dropdown-3 .dropdown li i {
	float: right;
	color: inherit;
}
.wrapper-dropdown-3 .dropdown li:first-of-type a {
}
.wrapper-dropdown-3 .dropdown li:last-of-type a {
	border: none;
}
/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
	background: #f3f8f8;
}
/* Active state */

.wrapper-dropdown-3.active .dropdown {
	opacity: 1;
	pointer-events: auto;
	height: 266px;
}
/* No CSS3 support */

.no-opacity .wrapper-dropdown-3 .dropdown, .no-pointerevents .wrapper-dropdown-3 .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity .wrapper-dropdown-3.active .dropdown, .no-pointerevents .wrapper-dropdown-3.active .dropdown {
	display: block;
}
/*#############################*/

.wrapper-dropdown-3 .dropdown h4 {
	font-size: 16px;
	font-weight: 700;
}
.wrapper-dropdown-3 span {
	display: block;
	text-indent: 35px;
}
.dropdown li a img {
	float: left;
	height: auto;
	margin-right: 3px;
	width: auto;
	min-height: auto;
}
.adhe {
	padding: 30px 0px;
	background-color: #4b3767;
}
.ins {
	color: #ffffff;
	text-align: center;
}
.md-icn i {
	background-color: #bc3794;
	border-radius: 50%;
	font-size: 41px;
	height: 80px;
	line-height: 2;
	width: 80px;
}
.ins h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 9px 0 6px;
}
.ins p {
	margin: 0;
}
.home-doctors {
	padding: 100px 0;
}
.home-doctors h1 {
	font-weight: 700;
	text-align: center;
	margin: 0px;
	margin-bottom: 10px;
}
.home-doctors p {
	text-align: center;
	margin: 0px;
	color: #777;
}
.home-doctors .common-doctor {
	background-color: #ffffff;
}
.home-doctors .common-doctor figure {
	overflow: hidden;
}
img {
	height: auto;
	max-width: 100%;
}
.home-doctors .common-doctor .text-content {
	background: #f7f7f7 none repeat scroll 0 0;
	padding: 20px 15px 30px;
}
.home-doctors .common-doctor h5 {
	margin: 0 0 20px;
}
.home-doctors .common-doctor h5 a {
	color: #3a3c41;
	font-size: 18px;
	font-weight: 700;
}
.home-doctors .common-doctor {
	margin-top: 40px;
	text-align: center;
}
.home-doctors .common-doctor h5 a:hover, .home-doctors .common-doctor h5 a:focus {
	color: #BC3794;
	text-decoration: none;
}
.home-doctors .common-doctor .for-border {
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0) url("../images/feature-border.png") no-repeat scroll center center;
	border: medium none;
	height: 11px;
	width: 100%;
}
.home-doctors .common-doctor p {
	color: #777777;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	text-align: center;
}
.pad-no {
	padding: 0px 1px;
}
.for-app-promotion {
	background-color: #bc3794;
	padding: 40px;
}
.textPR > h2 {
	color: #ffffff;
	font-size: 33px;
	font-weight: 700;
	margin: 0 0 9px;
}
.textPR > p {
	color: #ffffff;
	margin: 0px;
	font-size: 20px;
}
footer {
	background-color: #3A3C41;
	padding: 20px 0px;
}
#main-footer {
	color: #9ba0aa;
	line-height: 24px;
}
#main-footer .widget h3.title {
	color: #f0f5f7;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 30px;
}
#main-footer .widget ul {
	border-top: 1px solid #4a4c52;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#main-footer .widget ul li {
	border-bottom: 1px solid #4a4c52;
	color: #999ca5;
	list-style: outside none none;
	margin: 10px 0 0;
	padding: 0 0 10px;
}
#main-footer .widget a {
	color: #b5bac6;
}
.footer-bottom {
	border-top: 1px solid #4a4c52;
	margin-top: 60px;
	padding-top: 26px;
}
.footer-bottom .footer-social-nav {
	float: right;
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.footer-bottom .footer-social-nav li {
	display: inline-block;
	list-style: outside none none;
	margin-left: 10px;
}
.footer-bottom .footer-social-nav li a {
	display: inline-block;
	height: 20px;
	transition: all 0.3s ease 0s;
	width: 20px;
}
.footer-bottom .footer-social-nav li .fa {
	color: #53565c;
	display: block;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}
.footer-bottom .footer-social-nav li a:hover {
	text-decoration: none;
}
.footer-bottom .footer-social-nav li .fa:hover {
	color: #ffffff;
	font-size: 20px;
	margin-top: -2px;
	transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.custom-btn {
	background-color: #bc3794;
	border-radius: 7px;
	color: #ffffff;
	display: inline-block;
	font-size: 15px;
	margin-top: 14px;
	padding: 6px 16px;
}
.inner-search-bar {
	background-color: #4b3767;
	padding: 1px 0 20px;
}
.inner-search-bar h1 {
	color: #fff;
	font-weight: 200;
}
.inner-search-bar .home-search-area {
	border: 1px solid #ffffff;
}
.shorting-bar {
  background-color: #eeeeee;
  margin-bottom: 20px;
  padding: 25px 0;
}
.doctors-listing {
}
.doctors-data {
	background-color: #eee;
	padding: 20px 0px;
	margin-bottom: 20px;
}
.doctors-data::after, .doctors-data::before {
	clear: both;
	content: "";
	display: table;
}
.doc-avatar {
	text-align: center;
}
.doc-avatar figure {
	border: 3px solid #bc3794;
	border-radius: 50%;
	overflow: hidden;
}
.doc-avatar figure img {
	border-radius: 50%;
}
.doc-avatar .viw-pro {
	display: block;
	margin: 10px 0px;
	color: #444;
}
.on-bkng {
	background-color: #ffffff;
	border: 1px solid #4b3767;
	border-radius: 4px;
	color: #4b3767;
	display: inline-block;
	font-weight: 600;
	padding: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
a {
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.on-bkng:hover {
	background-color: #4b3767;
	color: #fff;
}
.doc-avatar p {
	margin: 0px;
}
.doc-info address {
	color: #000000;
	margin: 15px 0 5px;
}
.distence > p {
	font-size: 14px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 5px;
}
.doc-info > p {
	color: #444444;
	font-size: 13px;
}
.direction > p a {
	font-size: 14px;
	font-weight: 600;
	color: #333;
}
.doc-info > h3 {
	color: #4b3767;
	margin-bottom: 5px;
	font-weight: 700;
}
.doc-info > h4 {
	font-size: 15px;
	margin: 0 0 11px;
}
.share-save-doc {
	margin-top: 15px;
}
 .share-save-doc a {
 color: #444444;
 display: inline-block;
 font-size: 14px;
 font-weight: 600;
 margin-right: 15px;
 float:left;
 padding:10px;
}
.share-save-doc a i {
 color: #bc3794;
 float: left;
 font-size: 18px;
 margin: 3px 7px 0 0;
}
.appointment-table {
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px;
	border-right: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px;
	float: right;
	position: relative;
	width: 100%;
}
.appointment-table td {
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	box-sizing: border-box;
	color: #333;
	font-size: 12px;
	padding: 2% 1.5%;
	text-align: center;
	vertical-align: middle;
}
.arrow-left, .arrow-right {
  background-color: #bc3794;
  border: medium none;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 13px;
}

.prenxt{ position:relative; background-color:#4B3767;}

.arrow-left {
  cursor: pointer;
  left: auto;
  z-index: 1;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  float:left;
  -o-transition: all 0.3s ease 0s;
}
.arrow-right {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  float:right;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  right: 0;
}

.prenxt::before, .prenxt::after{ clear:both; display:table; content:" ";}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	background-color: #fff;
}
.appointment-table td a {
	border-bottom: 1px solid #cccccc;
	display: block;
	margin: 0 -9px;
}
.appointment-table td a {
	border-bottom: 1px solid #e6e6e6;
	color: #bc3794;
	display: block;
	font-size: 12px;
	margin: 0 -9px;
	padding: 11px 0;
}
.appointment-table td a:first-child {
	padding-top: 0px;
}
.appointment-table td a:last-child {
	padding-bottom: 0px;
	border: none;
}
.not-avail {
	cursor: not-allowed;
	text-decoration: line-through;
	color: #777 !important;
}
.not-avail:hover, .not-avail:focus {
	cursor: not-allowed;
	text-decoration: line-through;
	outline: none;
	color: #777 !important;
}
.load {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	display: none;
	height: 102%;
	left: 0;
	line-height: 290px;
	position: absolute;
	text-align: center;
	top: -4px;
	width: 102%;
}
.pages {
	text-align: center;
}
.dc-rating {
	margin-bottom: 5px;
}
.dc-rating i {
	color: #f1a400;
	font-size: 23px;
	text-shadow: 1px 1px 2px #d3d3d3;
}
.online-boknf select {
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	cursor: pointer;
	padding: 9px 0;
	text-indent: 5px;
	width: 100%;
	background-image: url(../images/sl-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-o-appearance: none;
}
.online-boknf label {
	line-height: 41px;
	margin: 0px;
}
.gender-filtr > ul {
	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	list-style: outside none none;
	padding: 0;
	overflow: hidden;
	margin: 0px;
}
.gender-filtr > ul > li:first-child {
	width: 40%;
}
.gender-filtr > ul > li {
	border-right: 1px solid #c3c3c3;
	float: left;
	min-height: 30px;
	width: 30%;
}
.gender-filtr > ul > li:last-child {
	border-right: none;
}
.no-pds {
	padding: 0px 5px;
}
.gender-filtr button {
	background-color: rgba(0, 0, 0, 0);
	border: medium none;
	padding: 10px 0;
	width: 100%;
}
.gender-filtr button i {
	opacity: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	text-decoration: none;
	width: 0px;
}
button.check i {
	opacity: 1;
	color: #BC3794;
	width: auto;
}
button.check {
	background-color: #f4f4f4;
}
.time-filtr > ul {
	background-color: #ffffff;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	list-style: outside none none;
	padding: 0;
	overflow: hidden;
	margin: 0px;
}
/*.time-filtr > ul > li:first-child {
	width: 28%;
}*/
.time-filtr > ul > li {
	border-right: 1px solid #c3c3c3;
	float: left;
	min-height: 30px;
	width: 50%;
}
.time-filtr > ul > li:last-child {
	border-right: none;
}
.time-filtr button {
	background-color: rgba(0, 0, 0, 0);
	border: medium none;
	padding: 10px 0;
	width: 100%;
}
.time-filtr button i {
	opacity: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	text-decoration: none;
	width: 0px;
}
button.check-1 i {
	opacity: 1;
	color: #BC3794;
	width: auto;
}
button.check-1 {
	background-color: #f4f4f4;
}
.doc-intro {
	padding: 20px 0;
}
.doc-intro .doc-avatar {
	text-align: center;
}
.doc-intro .doc-avatar figure {
	border: 3px solid #bc3794;
	border-radius: 50%;
	overflow: hidden;
	width: 122px;
	margin: 0 auto;
}
.flvt {
	float: left;
}
.dc-rating > ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.dc-rating li {
	float: left;
	margin-right: 10px;
}
.dc-rating li a {
	color: #BC3794;
}
.dc-rating ul li i {
	font-size: 17px;
}
.dc-rating li:last-child {
	border-left: 1px solid #cccccc;
	padding: 0 0 0 10px;
}
.map {
	background-color: #A0D3EC;
}
.profile-detail-doc {
	padding: 12px 0 60px;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
	text-align: center;
	width: 50%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	background-color: #ffffff;
	outline: none;
}
.nav-tabs > li > a {
	border-radius: 0;
	outline: none !important;
	color: #333;
}
.nav-tabs > li {
	border-bottom: 2px solid #c6c6c6;
	border-radius: 0;
	font-size: 20px;
	font-weight: 700;
	outline: medium none !important;
}
.nav-tabs {
	border-bottom: medium none;
}
.nav-tabs .active a {
	line-height: 31px;
}
.nav-tabs .active {
	border-bottom: 2px solid #BC3794;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #BC3794;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
	color: #BC3794;
	outline: none !important;
	box-shadow: none;
	border: 1px solid transparent;
}
.tab-content ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.tab-content ul li {
	border-bottom: 1px solid #e2e2e2;
	padding: 0 5px;
}
.tab-content ul li strong {
	float: left;
	color: #444;
	font-weight: 600;
	padding: 2% 0;
}
.resul-info {
	color: #777;
	float: right;
	font-size: 13px;
	padding: 2% 0;
}
.aple-insur > h2 {
	background-color: #4b3767;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
	margin: -10px -10px 15px;
	padding: 10px 11px;
}
.aple-insur select {
	background: url("../images/sl-arrow.png");
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	cursor: pointer;
	padding: 9px 0;
	text-indent: 5px;
	width: 100%;
	background-color: #fff;
	color: #BC3794;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-weight: 700;
	appearance: none;
	margin-bottom: 10px;
	-o-appearance: none;
}
.aple-insur label {
	color: #777777;
	font-weight: 400;
}
.aple-insur p {
	font-weight: 600;
	color: #777777;
	margin-bottom: 10px;
}
.aple-insur {
	background-color: #f7f7f7;
	padding: 10px;
	margin-top: 20px;
}
.pul-r {
	float: right;
}
.aple-insur::after, .aple-insur::before {
	display: table;
	content: " ";
	clear: both;
}
.rv-time {
	padding: 15px 0;
}
.rv-time > strong {
	color: #bc3794;
	display: block;
	margin-bottom: 4px;
}
.rv-time > p {
	color: #777777;
}
.type-rev {
	padding: 15px 0px 0px 0px;
	text-align: left;
}
.type-rev .dc-rating {
}
.type-rev .dc-rating i {
	font-size: 16px;
	text-align: center;
}
.type-rev h5 {
	color: #263458;
	font-weight: 600;
	margin: 2px 0 5px;
}
.rv-content p {
	color: #444444;
	font-size: 14px;
	line-height: 22px;
	margin-top: 5px;
}
.btn-x {
	padding: 21px 0;
	text-align: center;
}

.btn-x-btn {
    padding: 0px 0;
    text-align: left;
}

.btn-x button {
	background-color: #4b3767;
	border: 1px solid #4b3767;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 10px 30px;
}

.btn-x-btn button {
    background-color: #4b3767;
    border: 1px solid #4b3767;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 6px 10px;
}

/ =================================== ADD REVIEW ========================================= /
.modal-body{ padding:10px;}

.addreview select {
  -moz-appearance: none;
  background-image: url("../images/sl-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 0;
  text-indent: 5px;
  width: 100%;
  margin-bottom:20px;
}

.addreview input, .addreview textarea {
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  padding: 9px 0;
  text-indent: 5px;
  width: 100%;
  margin-bottom:20px;
}

.addreview button {
  background-color: #4b3767;
  border: medium none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 8px 0;
  width: 100%;
}


/ =================================== ADD REVIEW ========================================= / 

.modal-body {
	padding: 15px 50px;
	position: relative;
}
.inp-cover > input {
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 15px;
	padding: 11px 10px;
	font-weight: 600;
	width: 100%;
}
.forgot {
	color: #777;
	display: inline-block;
}
.inp-cover > button {
	background-color: #bc3794;
	border: medium none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
	margin-top: 10px;
	padding: 8px 0;
	width: 100%;
}
.login-facebook {
	background-color: #3b5796;
	color: #ffffff;
	display: block;
	font-size: 17px;
	border-radius: 4px;
	font-weight: 400;
	padding: 9px 0;
	text-align: center;
}
.login-facebook:hover {
	background-color: #2f5fca;
	color: #fff;
}
.login-facebook i {
	font-size: 24px;
	position: relative;
	right: 3px;
	top: 2px;
}
.or {
	border-bottom: 1px solid #cccccc;
	margin: 8px 0 28px;
	text-align: center;
}
.or > span {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 50%;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	padding: 4px;
	position: relative;
	top: 13px;
}
.modal-footer > h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	text-align: center;
}
#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.sign-up {
	float: left;
	width: 400px;
}
.hedings h5 {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}
.hedings p {
	font-size: 13px;
	margin-top: 5px;
	color: #777;
}
.sign-up label {
	width: 100%;
	clear: both;
	padding: 0px 5px;
	font-weight: 400;
	font-size: 15px;
}
.sign-up input {
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
	padding: 11px 7px;
	width: 100%;
}
.sign-up button {
	background-color: #4B3767;
	border: medium none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
	margin-top: 10px;
	padding: 8px 0;
	width: 100%;
}
.sign-up select {
	background: url("../images/sl-arrow.png");
	background-position: right center;
	background-repeat: no-repeat;
	border: 1px solid #d5d5d5;
	border-radius: 2px;
	font-size: 13px;
	cursor: pointer;
	padding: 9px 0;
	text-indent: 5px;
	width: 100%;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 10px;
	-o-appearance: none;
}
.sign-up input[type="radio"], .sign-up input[type="checkbox"] {
	width: auto;
	margin-bottom:0px;
	margin-top:0px;
}

.outer-user {
	background-color: #f6f6f6;
	padding: 27px 0 70px;
}
.hedings {
	margin: 0 0 0 -10px;
}
.doctor-appoitn {
	float: right;
	width: 400px;
	margin-left: 30px;
	margin-top: 40px;
}
.doc-names img {
	width: 111px;
}
.doc-names h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0px;
}
.doc-names p {
	font-size: 13px;
}
.doc-names td .dc-rating i {
	font-size: 16px;
}
.doc-names > h3 {
	border-bottom: 1px solid #cccccc;
	font-size: 19px;
	padding: 10px;
	margin: 0px;
}
.doc-names {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding-bottom: 15px;
}
.doc-names table {
	background-color: #f6f6f6;
}
.doc-names > h5 {
	font-weight: 700;
	padding: 4px 0 0 12px;
}
.doc-names > p {
	font-weight: 700;
	padding: 4px 0 0 12px;
	margin: 0px;
}
.doc-names > span {
	padding: 4px 0 0 12px;
	display: block;
}
.secrue {
	color: #444;
	margin-top: 10px;
	font-size: 13px;
}
.rdio-inp {
	float: left;
}
.rdio-inp label {
	float: left;
	cursor: pointer;
	font-weight: 700;
	margin:0px;
}

.booking-time{color: #bc3794; font-weight:700;}
.rd-check {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  margin: 3px 0 10px;
  padding: 10px 1px;
}
.rd-check::after, .rd-check::before{ clear:both; display:table; content:"";}
.inr-appoints {
  background-color: #ffffff;
  border: thin solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.07);
}
.inr-appoints h3{ border-bottom:thin solid rgba(0, 0, 0, 0.1);}

.inr-appoints h3 {
  background-color: #bc3794;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 14px 10px 10px;
  text-transform: uppercase;
}
.table tr td{
  font-size: 13px;
}
.dropdown-toggle.home-select {
 background-color:transparent;
 padding: 3px 0 4px;
 outline:none !important;
 border:none; 
}

.bootstrap-select{border-right:1px solid #b1aca9;}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.dropdown-header {
  color: #000000;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.42857;
  padding: 0 10px 5px;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
  outline:none !important;
}

.bootstrap-select.btn-group .dropdown-menu li {
  
}
.doc-search .dropdown-menu li:nth-child(2) a {
  background: #ffffff url("../images/dc-1.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.doc-search .dropdown-menu li:nth-child(3) a {
	padding: 7px 38px !important;
  background: #ffffff url("../images/dc-2.png") no-repeat scroll 11px 3px;
}

.doc-search .dropdown-menu li:nth-child(4) a {
  background: #ffffff url("../images/dc-3.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.doc-search .dropdown-menu li:nth-child(5) a {
  background: #ffffff url("../images/dc-4.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.doc-search .dropdown-menu li:nth-child(6) a {
  background: #ffffff url("../images/dc-5.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.doc-search .dropdown-menu li:nth-child(7) a {
  background: #ffffff url("../images/dc-6.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.doc-search .dropdown-menu li:nth-child(8) a {
  background: #ffffff url("../images/dc-7.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.doc-search .dropdown-menu li:nth-child(9) a {
  background: #ffffff url("../images/dc-8.png") no-repeat scroll 11px 3px;
  padding: 7px 38px !important;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
  padding-left: 15px;
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover { background-color:#F3F8F8;}

.show-tick{ height:auto;}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #f3f8f8;
  color: #333333;
  outline: 0 none;
  text-decoration: none;
}

.dropdown-menu > li > a {
  clear: both;
  color: #777777;
  display: block;
  font-weight: normal;
  line-height: 1.42857;
  padding: 8px 15px;
  white-space: nowrap;
}

/* ******************* Update for add review model ********************************/
.rating-span {
    padding: 1.2px;
}

.addreview i {
    font-size: 20px;
}
.addreview .dc-rating {
    margin-bottom: 16px;
}
.outer-user {
 background-color: #f6f6f6;
 padding: 27px 0 70px;
}
.profile-settings {
  width: 500px;
}

.profile-settings input {
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 11px 7px;
  width: 100%;
}



.profile-settings select {
  -moz-appearance: none;
  background: #ffffff url("../images/sl-arrow.png") no-repeat scroll right center;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 9px 0;
  text-indent: 5px;
  width: 100%;
}

.profile-settings label{ width:100%; font-weight:normal; padding-left:5px;}


.col-lg-12.no-pds > h3 {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 23px;
  padding-bottom: 10px;
}

.profile-settings button {
  background-color: #4b3767;
  border: medium none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  margin-top: 10px;
  padding: 8px 0;
  width: 100%;
}

.filter-config {
	position: fixed;
	right: 0;
	top: 223px;
	z-index: 2147483647;
}
.filter-config-box {
	position: relative;
	z-index: 9999999999;
}
.skin-setttings {
	background: #fff none repeat scroll 0 0;
	margin-left: 40px;
	width: 280px;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	margin-right: -280px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 10px -4px #666666;
}
.setings-item ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.setings-item ul li {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}
.setings-item ul li:last-child {
	border: none;
}
.setings-item ul li::after, .setings-item ul li::before {
	display: table;
	content: " ";
	clear: both;
}
.setings-item ul li label {
	font-weight: 400;
	font-size: 13px;
}
.setings-item ul li span {
	margin-right: 10px;
	font-weight: normal;
	font-size: 13px;
}
.llrf {
	float: left;
}
.rfht {
	float: left;
	margin-left: 20px;
}
.rfht-1 {
	float: left;
	margin-left: 10px;
}
.spin-icon {
	background: #4B3767 none repeat scroll 0 0;
	border-radius: 20px 0 0 20px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	left: 0;
	padding: 7px 10px 7px 13px;
	position: absolute;
	top: 0;
	width: 40px;
}
.skin-setttings.show {
	margin-right: 0;
	display: block !important;
}



/* ******************* Update for add review model ********************************/

 @media (max-width:1024px) {
.sign-up {
	float: left;
	width: 287px;
}
}
 @media (max-width:920px) {
.home-search-area {
	width: auto;
}
.for-app-promotion {
	padding: 40px 0;
}
.no-paddin {
	margin-top: 20px;
}
.time-mr {
	margin-top: 10px;
}
}
 @media (max-width: 767px) {
  .profile-settings {
  padding: 0 10px;
  width: auto;
}
.doctor-appoitn {
	float: right;
	margin-left: 0;
	margin-top: 0;
	width: 100%;
}
.sign-up {
	padding: 0 10px;
	width: 100%;
}
.doc-names img {
	margin-right: 10px;
	width: 100px;
}
.modal-body {
	padding: 15px;
	position: relative;
}
.online-boknf label {
	line-height: 17px;
	margin: 0 0 7px;
}
.dc-rating li:last-child {
	border-left: none;
	padding: 0 0 0 10px;
}
.doc-intro {
	padding: 20px 15px;
}
.rv-time {
	padding: 15px 0 0;
}
.rv-time > p {
	color: #777777;
	margin: 0px;
}
.dc-rating li {
	float: left;
	margin-right: 10px;
	text-align: center;
	width: 100%;
}
.type-rev h5 {
	font-size: 11px;
	margin: 0px;
	font-weight: 700;
}
.rv-content p {
	color: #444444;
	font-size: 12px;
	line-height: 16px;
	margin-top: 0;
	padding: 0 9px;
}
.type-rev {
	padding: 15px 0 0 9px;
	text-align: left;
}
.type-rev .dc-rating i {
	font-size: 13px;
	text-align: center;
}
.pul-r {
	float: none;
}
.gender-filtr {
	margin-top: 10px;
}
.inner-search-bar .home-search-area {
	border: none;
	width: auto;
}
.doc-info {
	text-align: center;
}
.doc-avatar figure {
	border: 2px solid #bc3794;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
	width: 170px;
}
.appointment-table {
	margin-top: 20px;
}
.dropdown li a img {
	min-height: auto;
}
.home-search-area {
	width: auto;
}
.home-search-fields {
	top: 18%;
}
.find-section h2 {
	font-size: 21px;
}
.find-section h3 {
	font-size: 20px;
}
.home-search-area {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.home-search-area .dv-l {
	width: 100%;
}
.wrapper-dropdown-3 {
	background-color: #ffffff;
	border: 1px solid #a0a0a0;
	border-radius: 7px;
	box-shadow: none;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
}
/*.home-search-area input {
	background-color: #ffffff;
	border: 1px solid #a0a0a0;
	border-radius: 7px;
	box-shadow: none;
	font-size: 14px;
	text-indent: 30px;
	margin-bottom: 10px;
	width: 100%;
}*/
.home-search-area .bt-cvr {
	float: left;
	width: 100%;
}
.bt-cvr button {
	border-radius: 7px;
}
.wrapper-dropdown-3 .dropdown {
	z-index: 2147483647;
}
.ins {
	margin-bottom: 16px;
}
.home-doctors {
	padding: 25px 0;
}
.home-doctors h1 {
	font-size: 24px;
}
.home-doctors .common-doctor {
	margin-top: 2px;
	text-align: center;
}
.for-app-promotion {
	background-color: #44bbdd;
	padding: 14px 0;
}
.textPR > h2 {
	font-size: 22px;
	margin: 5px 0 0px;
}
.textPR > p {
	font-size: 13px;
	margin: 0;
	margin-bottom: 10px;
}
.footer-bottom .footer-social-nav {
	float: left;
}
.navbar-brand > img {
  display: block;
  margin: 12px 0 0;
  width: 102px;
}

.dropdown-toggle.home-select {
  background-color: #ffffff;
  border: 1px solid #b1aca9;
  border-radius: 4px;
  outline: medium none !important;
  padding: 3px 0 4px;
}
.bootstrap-select {
  border: medium none;
  border-radius: 0;
  margin-bottom: 10px;
}
.show-tick{ background-color:transparent !important;}

.bt-cvr{margin-top: 10px;}

}
 @media (max-width:480px) {
.tabs-info {
	margin: 0 -20px;
}
.resul-info {
	color: #777777;
	float: left;
	font-size: 13px;
	margin: -5px 0 6px;
	padding: 0;
	width: 100%;
}
.aple-insur {
	background-color: #f7f7f7;
	margin: 20px -20px 0;
	padding: 10px;
}
.doc-intro .doc-avatar figure {
	border: 3px solid #bc3794;
	border-radius: 50%;
	margin: 17px 14px 0;
	overflow: hidden;
	width: 82px;
}
.find-section h2 {
	font-size: 16px;
}
.find-section h3 {
	font-size: 16px;
}
.home-search-fields {
	top: 10%;
}
.appointment-table td {
	font-size: 9px;
	padding: 2% 1%;
}
.arrow-left {
	padding: 7px !important;
}
.arrow-right {
	padding: 7px !important;
}
.appointment-table td a {
	font-size: 9px;
}
.no-paddin {
	padding: 0px;
}
.ons-bx {
	float: left;
}
.doc-avatar figure {
	border: 2px solid #bc3794;
	border-radius: 50%;
	float: left;
	margin: 10px 10px 0 auto;
	overflow: hidden;
	width: 90px;
}
.doc-info {
	text-align: left;
}
.doc-avatar {
	text-align: left;
}
.doc-avatar .viw-pro {
	color: #444444;
	display: block;
	font-size: 15px;
	margin: 7px 0 8px;
}
.doc-info > h3 {
	color: #4b3767;
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 5px;
}
.doc-avatar {
	background-color: #e0e0e0;
	margin: -20px -15px 0;
	padding: 7px 11px;
	text-align: left;
}
.appointment-table {
	margin-top: 0;
}
.inp-cover > input {
	font-size: 13px;
	font-weight: 600;
	padding: 7px 8px;
	margin-bottom: 8px;
}
.inp-cover > button {
	font-size: 14px;
	font-weight: 700;
	margin-top: 7px;
	padding: 7px 0;
}
.or {
	border-bottom: 1px solid #cccccc;
	margin: 0 0 21px;
	text-align: center;
}
.login-facebook {
	font-size: 14px;
	font-weight: 400;
	padding: 6px 0;
}
.login-facebook i {
	font-size: 18px;
}
.modal-footer > h4 {
	font-size: 14px;
}
.modal-footer {
	padding: 11px;
}
.modal-header {
	padding: 10px 10px;
}
.modal-title {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.42857;
	margin: 0;
}
}
